<form method="post" action="/artists">
  <ul>
    <li>
      <label for="artist-name">Name</label>
      <input id="artist-name" type="text" name="name" />
    </li>
    <li>
      <label for="artist-age">Age</label>
      <input id="artist-age" type="number" name="age" />
    </li>
    <li>
      <label for="artist-bio">Bio</label>
      <input id="artist-bio" type="text" name="bio" />
    </li>
    <li>
      <input type="submit" />
    </li>
  </ul>
</form>